
<div class="container-form">
    <div class="formulario">
        <div class="container-inputs">
            <h3>EDITAR PRODUCTO</h3>
                <p>
                    Nombre: <br><input type="text" [(ngModel)]="product.Nombre" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    Descripcion Producto: <br><input type="text" [(ngModel)]="product.DescripcionProducto" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    precio: <br><input type="text" [(ngModel)]="product.Precio" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    stock: <br><input type="text" [(ngModel)]="product.Stock" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    url Foto: <br><input type="text" [(ngModel)]="product.Url_foto" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    Categoria: <br>
                    <select [(ngModel)]="product.Categoria_idCategoria" class="form-select" aria-label="Default select example">
                        <option value="1" >Jabones</option>
                        <option value="2">Antibacterial</option>
                        <option value="3">Cremas Faciales</option>
                        <option value="4">Cremas Corporales</option>
                        <option value="5">Velas</option>
                        <option value="6">Belleza</option>
                      </select>
                </p>
            <div class="botones">
            <p><button type="button" class="btn btn-success"(click)="modificacion(product.idProducto)">Editar</button></p>
            <p><button type="button" class="btn btn-danger" routerLink="/producto">Cancelar</button></p>
            </div>    
        </div>
    </div>
</div>