
        <script>

            function alertEliminar() {
                alert("Se ha eliminado el usuario correctamente");
            }

            function cerrar() {
                alert("Se ha cerrado la sesion Correctamente");
            }

            function editar(){
                document.getElementById('vista').style.display = "none";
                document.getElementById('editar-perfil').style.display = "block";
                document.getElementById('cambiar-contra').style.display = "none";
            }

            function general(){
                document.getElementById('vista').style.display = "block";
                document.getElementById('editar-perfil').style.display = "none";
                document.getElementById('cambiar-contra').style.display = "none";
            }

            function cambiar(){
                document.getElementById('cambiar-contra').style.display = "block";
                document.getElementById('editar-perfil').style.display = "none";
                document.getElementById('vista').style.display = "none";
            }

            function guardar(){
                alert("Se ha guardado tus cambios");
            }

            function cambiar2(){
                alert("Se ha cambiado tus contraseña correctamente");
                document.getElementById('vista').style.display = "block";
                document.getElementById('editar-perfil').style.display = "none";
                document.getElementById('cambiar-contra').style.display = "none";
            }

        </script>
    <div class="contenedor-cuenta">
        <div class="contenedor">
        <div class="menu2">
            <div class="imagen">
                <div class="imagen-perfil">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
            <div class="general" onclick="general()">Vista General de la cuenta</div>
            <div class="editar" onclick="editar()">Editar Perfil</div>
            <div class="cambiar" onclick="cambiar()">Cambiar Contraseña</div>
            <div class="tarjetas">Tarjetas de Pago Guardadas</div>
            <div class="recibos">Recibos</div>
        </div>
        <div class="vista" id="vista">
            <h1>Vista general de la cuenta</h1>
            <h3>Perfil</h3>
        <div class="contenido">
            <div class="contenido-datos">
                <div class="nombre">
                    Nombre de usuario
                </div>
                <div class="datos">
                        {{placeholder}}
                </div>
            </div>
            <div class="contenido-datos">
                <div class="correo">
                    Correo electronico
                </div>
                    <div class="datos">
                        {{placeholder}}
                    </div>
            </div>
            <div class="contenido-datos">
                <div class="id">
                    Tarjeta de identidad
                </div>
                <div class="datos">
                        {{placeholder}}
                </div>
          </div>
        </div>
            <button class="btn-editar" onclick="editar()">
                Editar Perfil
            </button>
            <form method="POST">
            <button class="btn-delete" name="btn-delete" onclick="alertEliminar()">
                Eliminar Cuenta
            </button>
            </form>
        <div class="cerrar-sesion">
            <h1>Cierra sesión</h1>
                 <h4>De esta manera, puedes cerrar tu sesión de tu cuenta en E_E Art en esta plataforma. </h4>
            <a href="cerrar_s.php">
            <button class="btn-cerrar" onclick="cerrar()">
                Cerrar Sesion
            </button>
             </a>
        </div>
        </div>
        <div class="editar-perfil" id = "editar-perfil">
            <h1>Editar Perfil</h1>
            <h3>Perfil</h3>
        <div class="contenido">
            <div class="contenido-editar">
            <form method="post" action="" class="formulario">
                <input type="text" name="Nombre" id="Nombre" placeholder="<?php echo $nombreO?>" value="<?php echo $nombreO?>" required>
                <input type="text" name="Apellido" id="Apellido" placeholder="<?php echo $apellidO?>" value="<?php echo $apellidO?>" required>
                <select name="TipoDocumento" required>
                    <option value="1">Cedula de Ciudadania</option>
                    <option value="2">Tarjeta De Identidad</option>
                    <option value="3">Pasaporte</option>
                    <option value="4">Cedula de Extranjeria</option>
                    <option value="5">Pasaporte Extranjero</option>
                    <option value="6">Visa</option>
                </select>
                <input type="text" name="NumeroDocumento" id="NumeroDocumento" placeholder="<?php echo $numeroDO?>" value="<?php echo $numeroDO?>" required>
                <input type="text" name="Direccion" id="Direccion" placeholder="<?php echo $direccionO?>" value="<?php echo $direccionO?>" required>
                <input type="number" name="Telefono" id="Telefono" placeholder="<?php echo $telfonoO?>" value="<?php echo $telfonoO?>" required>
                <input type="email" name="Correo" id="Correo" placeholder="<?php echo $nombreO?>" class="correo" value="<?php echo $correoO?>" required>
                <select name="Ciudad_IdCiudad" required>
                    <option value="1">Bogota</option>
                    <option value="2">Medellín</option>
                    <option value="3">Cali</option>
                    <option value="4">Barranquilla</option>
                    <option value="5">Cartagena</option>
                    <option value="6">Soacha</option>
                    <option value="7">Cúcuta</option>
                </select>
        <div class="checkon">
            <input type="checkbox" class = "check"/>
            <label for="">Compartir mis datos de registro con los proveedores de E_E Art</label><br>
        </div>
            <button class="btn-cerrar" onclick="general()">
                Cancelar
            </button>
             <button class="btn-editar" onclick="guardar()" type="submit" name="Actualizar" id="Actualizar">
                Actualizar Perfil
            </button>
            </form>
        
        </div>
      </div>
      <div class="cambiar-contra" id = "cambiar-contra">
        <h1>Editar Perfil</h1>
        <h3>Perfil</h3>
    <div class="contenido">
        <div class="contenido-editar">
            <h4>Contraseña Actual</h4>
            <input type="password">
            <h4>Contraseña</h4>
            <input type="password">
            <h4>Confirmar Contraseña</h4>
            <input type="password">
    </div>
        <button class="btn-cerrar" onclick="general()">
            Cancelar
        </button>
         <button class="btn-cambiar" onclick="cambiar2()">
            Cambiar Contraseña
        </button>
    
    </div>
  </div>
    </div>
    </div>
    <app-footer>
        
    </app-footer>
