<div class="container-form">
    <div class="formulario">
        <div class="container-inputs">
            <h3>EDITAR ROL</h3>
            <p>
                Usuario: <br>
                <input type="text" [(ngModel)]="rol.Nombre" class="form-control" aria-label="default input example" disabled/>
            </p>
            <p>
                 Rol: <br>
                <select [(ngModel)]="rol.Rol_idRol" class="form-select" aria-label="Default select example">
                    <option value="1">Cliente</option>
                    <option value="2">Administrador</option>
                  </select>
            </p>
            <div class="botones">
            <p><button type="button" class="btn btn-success"(click)="modificacion(rol.Usuario_idUsuario)">Editar</button></p>
            <p><button type="button" class="btn btn-danger" routerLink="/gestionroles">Cancelar</button></p>
            </div>    
        </div>
    </div>
</div>