<div class="container-form">
    <div class="formulario">
        <div class="container-inputs">
            <h3>AGREGAR METODO DE PAGO</h3>
                <p>
                    Metodo de Pago: <br><input type="text" [(ngModel)]="pago.Descripcion" class="form-control" aria-label="default input example"/>
                </p>
                <p>
            <div class="botones">
            <p><button type="button" class="btn btn-success"(click)="alta()">Agregar</button></p>
            <p><button type="button" class="btn btn-danger" routerLink="/metodopago">Cancelar</button></p>
            </div>    
        </div>
    </div>
</div>