
<div class="alert-opacity " id="alertcar">
    <div class = "carrito">
        <div class="encabezado">
        <div class="titulo-carrito">
            Carrito de Compras
        </div>
        <div class="cerrar">
            <i class="fa-solid fa-x" onclick="cardout()"></i>
        </div>
        </div>
        <div class="cero" id="cero">
            No tienes Productos en el Carrito
        </div>
        <div class=" compra1" id="pro1">
            <img src="https://media.istockphoto.com/id/1147544807/es/vector/no-imagen-en-miniatura-gr%C3%A1fico-vectorial.jpg?s=612x612&w=0&k=20&c=Bb7KlSXJXh3oSDlyFjIaCiB9llfXsgS7mHFZs6qUgVk=" alt="">
            <div class="info">
                Glicerina Naranja
            </div>
            <div class="precio">
                $67.000
                <input type="number" placeholder="1">
            </div>
            <div class="icones">
                <i class="fa-solid fa-x" onclick="outpro1()"></i>
            </div>
        </div>
        <div class=" compra1" id="pro2">
            <img src="https://media.istockphoto.com/id/1147544807/es/vector/no-imagen-en-miniatura-gr%C3%A1fico-vectorial.jpg?s=612x612&w=0&k=20&c=Bb7KlSXJXh3oSDlyFjIaCiB9llfXsgS7mHFZs6qUgVk=" alt="">
            <div class="info">
                Velas de Manzanilla
            </div>
            <div class="precio">
                $8.500
                <input type="number" placeholder="1">
            </div>
            <div class="icones">
                <i class="fa-solid fa-x" onclick="outpro2()"></i>
            </div>
        </div>
        <div class=" compra1" id="pro3">
            <img src="https://media.istockphoto.com/id/1147544807/es/vector/no-imagen-en-miniatura-gr%C3%A1fico-vectorial.jpg?s=612x612&w=0&k=20&c=Bb7KlSXJXh3oSDlyFjIaCiB9llfXsgS7mHFZs6qUgVk=" alt="">
            <div class="info">
                Glicerina Canendula
            </div>
            <div class="precio">
                $67.000
                <input type="number" placeholder="1">
            </div>
            <div class="icones">
                <i class="fa-solid fa-x" onclick="outpro3()"></i>
            </div>
        </div>
        <div class=" compra1" id="pro4">
            <img src="https://media.istockphoto.com/id/1147544807/es/vector/no-imagen-en-miniatura-gr%C3%A1fico-vectorial.jpg?s=612x612&w=0&k=20&c=Bb7KlSXJXh3oSDlyFjIaCiB9llfXsgS7mHFZs6qUgVk=" alt="">
            <div class="info">
                Crema Facial
            </div>
            <div class="precio">
                $16.500
                <input type="number" placeholder="1">
            </div>
            <div class="icones">
                <i class="fa-solid fa-x" onclick="outpro4()"></i>
            </div>
        </div>
        <div class=" compra1" id="pro5">
            <img src="https://media.istockphoto.com/id/1147544807/es/vector/no-imagen-en-miniatura-gr%C3%A1fico-vectorial.jpg?s=612x612&w=0&k=20&c=Bb7KlSXJXh3oSDlyFjIaCiB9llfXsgS7mHFZs6qUgVk=" alt="">
            <div class="info">
                Gel Antibacterial
            </div>
            <div class="precio">
                $19.000
                <input type="number" placeholder="1">
            </div>
            <div class="icones">
                <i class="fa-solid fa-x" onclick="outpro5()"></i>
            </div>
        </div>
        <div class=" compra1" id="pro6">
            <img src="Imagenes/jabones.png" alt="">
            <div class="info">
                Jabon Corporal
            </div>
            <div class="precio">
                $7.500
                <input type="number" placeholder="1">
            </div>
            <div class="icones">
                <i class="fa-solid fa-x" onclick="outpro6()"></i>
            </div>
        </div>
        <div class=" compra1" id="pro7">
            <img src="https://media.istockphoto.com/id/1147544807/es/vector/no-imagen-en-miniatura-gr%C3%A1fico-vectorial.jpg?s=612x612&w=0&k=20&c=Bb7KlSXJXh3oSDlyFjIaCiB9llfXsgS7mHFZs6qUgVk=" alt="">
            <div class="info">
                Jabon Glicerina
            </div>
            <div class="precio">
                $47.000
                <input type="number" placeholder="1">
            </div>
            <div class="icones">
                <i class="fa-solid fa-x" onclick="outpro7()"></i>
            </div>
        </div>
        <div class=" compra1" id="pro8">
            <img src="Imagenes/jabones.png" alt="">
            <div class="info">
                Jabon Maracuya
            </div>
            <div class="precio">
                $9.500
                <input type="number" placeholder="1">
            </div>
            <div class="icones">
                <i class="fa-solid fa-x" onclick="outpro8()"></i>
            </div>
        </div>
        <div class=" compra1" id="pro9">
            <img src="https://media.istockphoto.com/id/1147544807/es/vector/no-imagen-en-miniatura-gr%C3%A1fico-vectorial.jpg?s=612x612&w=0&k=20&c=Bb7KlSXJXh3oSDlyFjIaCiB9llfXsgS7mHFZs6qUgVk=" alt="">
            <div class="info">
                Glicerina Cereza
            </div>
            <div class="precio">
                $57.500
                <input type="number" placeholder="1">
            </div>
            <div class="icones">
                <i class="fa-solid fa-x" onclick="outpro9()"></i>
            </div>
        </div>
        <div class=" compra1" id="pro10">
            <img src="https://media.istockphoto.com/id/1147544807/es/vector/no-imagen-en-miniatura-gr%C3%A1fico-vectorial.jpg?s=612x612&w=0&k=20&c=Bb7KlSXJXh3oSDlyFjIaCiB9llfXsgS7mHFZs6qUgVk=" alt="">
            <div class="info">
                Mascara Carbon
            </div>
            <div class="precio">
                $38.000
                <input type="number" placeholder="1">
            </div>
            <div class="icones">
                <i class="fa-solid fa-x" onclick="outpro10()"></i>
            </div>
        </div>
        <div class=" compra1" id="pro11">
            <img src="https://media.istockphoto.com/id/1147544807/es/vector/no-imagen-en-miniatura-gr%C3%A1fico-vectorial.jpg?s=612x612&w=0&k=20&c=Bb7KlSXJXh3oSDlyFjIaCiB9llfXsgS7mHFZs6qUgVk=" alt="">
            <div class="info">
                Glicerina Mora
            </div>
            <div class="precio">
                $57.000
                <input type="number" placeholder="1">
            </div>
            <div class="icones">
                <i class="fa-solid fa-x" onclick="outpro11()"></i>
            </div>
        </div>
        <div class="subtotal">
            <div class="total">
                Total : $XX.XXX
            </div>
        </div>
        <div class="boton-comprar">
            <a href="#"></a>
            <a href="#">
                <button class="btn-pedido" id="btn-pedido">
                    Confirmar Peido
                </button>
            </a>
        </div>
    </div>
</div>

<div class = "recorrido">
   <a routerLink="">Home</a> > <a routerLink="../../catalogo"> Catalogo</a>  >    <h4>Producto</h4>
</div>
<div class="contenedor-producto">
    <div class="producto">
    <div class="select-imagen">
        <img src="https://media.istockphoto.com/id/1147544807/es/vector/no-imagen-en-miniatura-gr%C3%A1fico-vectorial.jpg?s=612x612&w=0&k=20&c=Bb7KlSXJXh3oSDlyFjIaCiB9llfXsgS7mHFZs6qUgVk=" alt="" onclick="imagen()">
        <img src="https://media.istockphoto.com/id/1147544807/es/vector/no-imagen-en-miniatura-gr%C3%A1fico-vectorial.jpg?s=612x612&w=0&k=20&c=Bb7KlSXJXh3oSDlyFjIaCiB9llfXsgS7mHFZs6qUgVk=" alt="" onclick="imagen2()">
    </div>
    <div class = "imagen">
        <img src="{{product.url_foto}}" alt="" id="img1">
        <img src="https://media.istockphoto.com/id/1147544807/es/vector/no-imagen-en-miniatura-gr%C3%A1fico-vectorial.jpg?s=612x612&w=0&k=20&c=Bb7KlSXJXh3oSDlyFjIaCiB9llfXsgS7mHFZs6qUgVk=" alt="" id="img2" class="img2">


    </div>
    <div class="info-pro">
        <h5>Marca: E&E Art </h5><h5>{{product.idProducto}}</h5>
        <h1>{{product.Nombre}}</h1>
        <h3>$89.000</h3>
        <h2>{{product.Precio | currency}}</h2>
    <div class="botones">
        <button class="btn-carrito" onclick="openpro1()">
            AGREGAR AL CARRITO
        </button>
        <button class="btn-comprar" onclick="carritopro()">
            COMPRAR AHORA
        </button>
        <input type="number" placeholder="1">
    </div>
    </div>
</div>
</div>

<div class = "contenedor-descripcion">
<div class="sobre">
    <h1>SOBRE EL PRODUCTO</h1>
</div>
<div class="cat">
    <div class=" cat-descp" onclick="aparecerdesp()">
        <h3>DESCRIPCION</h3>
        <div class="raya1" id="raya1"></div>
    </div>
    <div class=" cat-espe" onclick="aparecerespe()">
        <h3>ESPECIFICACIONES</h3>
        <div class="raya2" id="raya2"></div>
    </div>
</div>
<div class="descripcion" id="descripcion">
    Nuestros productos están elaborados a base de aceites esenciales,
    extraídos por destilación extractos, aceites vegetales de prensado en frío: aceite de coco,
    jojoba, almendras, argán, ricino, caléndula, al igual que mantecas como la de karit, emulsionantes y conservantes eco certificados,
    glicerina vegetal, ceras vegetales, arcillas, flores como lavanda, rosas entre otros. <br><br>

    <h4>Caracteristicas</h4><br><br>
    <li>Glicerina </li>
    <li>Naranja</li>
</div>
<div class="especificacion" id="especificacion">
   <div class = "contenido1">
    <div class=" cate">
        Garantia
    </div>
    <div class = "espe">
        90 Dias
    </div>
   </div>
</div>
</div>
<div class="titulo">
<h1>TAMBIEN TE PUEDE INTERESAR</h1>
<div class="raya">
</div>
</div>
<div class ="container-cards">
    @for(product of  producto; track $index){
<div class = "cards2">
    <div class = "ima">
    <img src="{{product.url_foto}}"alt="">
</div>
<div class = "contenido">
    <h5>{{product.Nombre}}</h5>
    <h2>{{product.DescripcionProducto}}</h2>
    <h3>{{product.Precio | currency}}</h3>
<a routerLink ="/productI/{{product.idProducto}}">
<button class = "boton" (click)="seleccionar(product.idProducto)">
    COMPRAR
</button>
</a>

</div>
</div>
    }
</div>
<app-footer></app-footer>
