<div class="contenedor">
    <a routerLink="/tipodocumento/agregar">
    <button type="button" class="btn btn-primary btn-lg">Agregar</button>
  </a>
    <div class="container-agregar">
    </div>
    <div class="container-table">
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">idTipoDocumento</th>
            <th scope="col">Tipo de Documento</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        @for(tipo of documento;track tipo.idTipoDocumento) {
          <tr>
            <td>{{tipo.idTipoDocumento}}</td>
            <td>{{tipo.Descripcion}}</td>
            <td><button class="btn btn-danger" (click)="baja(tipo.idTipoDocumento)">Borrar</button></td>
            <td><a routerLink="/tipodocumento/editar/{{tipo.idTipoDocumento}}">
              <button (click)="seleccionar(tipo.idTipoDocumento)" class="btn btn-info" >editar</button>
            </a>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
  