<div class="contenedor">
  <div class="formulario">
      <div class="titulo">
          <a href="index.html">
            Volver</a>
          <div class="imag">
              <img src="../../../../assets/logo1.png" alt="" height="200px">
          </div>
          <h1>REGISTRO</h1>
          <h5>¿Tienes una cuenta?<a routerLink="/login"> INICIAR SESION</a></h5>
      </div>
      <div class="inputs">
          <form method="post" action="">
              <div class = "contenedor-inputs">
                  <input type="text" [(ngModel)]="user.Nombre" name="Nombre" id="Nombre" placeholder="Nombre" required>
                  <input type="text" [(ngModel)]="user.Apellido" name="Apellido" id="Apellido" placeholder="Apellido" required>
              </div>
              <div class = "contenedor-inputs">
                  <select name="TipoDocumento" [(ngModel)]="user.TipoDocumento_idTipoDocumento" required>
                    <option [ngValue]="null" disabled> Tipo De Documento</option>
                      <option value="1">Cedula de Ciudadania</option>
                      <option value="2">Tarjeta De Identidad</option>
                      <option value="3">Pasaporte</option>
                      <option value="4">Cedula de Extranjeria</option>
                      <option value="5">Pasaporte Extranjero</option>
                      <option value="6">Visa</option>
                  </select>
                  <input type="text" [(ngModel)]="user.NumeroDocumento" name="NumeroDocumento" id="NumeroDocumento" placeholder="Numero de documento" required>
              </div>
              <div class = "contenedor-inputs">
                  <input type="text" [(ngModel)]="user.Direccion" name="Direccion" id="Direccion" placeholder="Direccion" required>
                  <input type="number" [(ngModel)]="user.Telefono" name="Telefono" id="Telefono" placeholder="Telefono" required>
              </div>
              <div class = "contenedor-inputs">
                  <input type="email" [(ngModel)]="user.Correo"  name="Correo" id="Correo" placeholder="Correo" class="correo" required>
                  <input type="password" [(ngModel)]="user.Contrasena"  name="Contrasena" id="Contrasena" placeholder="Contraseña" required>
              </div>
              <div class = "contenedor-inputs">
                  <select class = "ciudades" [(ngModel)]="user.Ciudad_idCiudad"  name="Ciudad_IdCiudad" required>
                      <option [ngValue]="null" disabled> Ciudad</option>
                      <option value="1">Bogota</option>
                      <option value="2">Medellín</option>
                      <option value="3">Cali</option>
                      <option value="4">Barranquilla</option>
                      <option value="5">Cartagena</option>
                      <option value="6">Soacha</option>
                      <option value="7">Cúcuta</option>
                  </select>
              </div>
    </form>
      <div class="botones">
        <p><button type="button" class="btn1"(click)="alta()">Agregar</button></p>
      </div>
      </div>
  </div>

</div>
