<div class="container-form">
    <div class="formulario">
        <div class="container-inputs">
            <h3>AGREGAR ITEMS AL CARRITO</h3>
            <p>
                Usuario - Carrito: <br>
                <select [(ngModel)]="item.Carrito_idCarrito" class="form-select" aria-label="Default select example">
                    <option value="1">Ivan Eduardo Olmos Ramirez</option>
                    <option value="2">Marcy Yaneth Ramirez Lancheros</option>
                    <option value="3">Eduardo Alfonso Patiño Olmos</option>
                    <option value="4">Daniel Felipe Romero Moreno</option>
                    <option value="5">Juliana Andrea Lopez Ramirez</option>
                    <option value="6">Eduardo Antonio Balza Peña</option>
                    <option value="7">Andres Leonardo Ramirez Pinilla</option>
                    <option value="8">Sergio David Olmos Ramirez</option>
                    <option value="9">Brayam Sneider Cerquera Rodriguez</option>
                    <option value="10">Luisa Fernanda Sandoval Suarez</option>
                    <option value="11">Yeimi  Rodriguez Suarez</option>
                    <option value="12">Lorena Medina Yazo</option>
                    <option value="13">Diego Patiño Rodriguez</option>
                    <option value="14">jorge lopez</option>
                  </select>
            </p>
            <p>
                 Producto: <br>
                <select [(ngModel)]="item.Producto_idProducto" class="form-select" aria-label="Default select example">
                    <option value="1">Jabon Glicerina Calendula</option>
                    <option value="2">Velas de Manzanilla</option>
                    <option value="3">Jabon Glicerina Naranja</option>
                    <option value="4">Crema Facial E&E art</option>
                    <option value="5">Exfoliante Facial E&E art </option>
                    <option value="6">Gel Antibacterial</option>
                    <option value="7">Jabon Corporal Avena</option>
                    <option value="8">Jabon Glicerina Natural</option>
                    <option value="9">Jabon Corporal Maracuya</option>
                    <option value="10">Jabon Glicerina Cereza</option>
                    <option value="11">Mascara de Carbon</option>
                    <option value="12">Jabon Glicerina Mora</option>
                  </select>
            </p>
            <p>
                Cantidad: <br><input type="text" [(ngModel)]="item.Cantidad" class="form-control" aria-label="default input example" />
            </p>
            <div class="botones">
            <p><button type="button" class="btn btn-success"(click)="alta()">Asignar</button></p>
            <p><button type="button" class="btn btn-danger" routerLink="/itemscarrito">Cancelar</button></p>
            </div>    
        </div>
    </div>
</div>