<div class="contenedor">
  <div class="formulario">
      <form method="POST" action="">
          <div class="titulo">
              <a href="index.php">
                 Volver</a>
              <div class="imag">
                  <img src="../../../../assets/logo1.png" alt="" height="200px">
              </div>
              <h1>INICIO SESION</h1>
              <h5>¿Todavía no tienes una cuenta?<a href="registro.php"> registrarse</a></h5>
          </div>
          <div class="inputs">
              <input name="Correo" type="text" id="Correo" placeholder="Correo" required>
              <input name="Contrasena" type="password" id="Contrasena" placeholder="Contraseña" required>
          </div>
          <div class="botones">
              <button name="iniciar" class="btn1" onclick="cargar()" input type="submit">
                  <div id="aa">Iniciar Sesion</div>
                  <div class="spinner-border" id="car" style="display:none"></div>
              </button>
              <a href="contraseña.php"><h5>¿has olvidado tu contraseña?</h5></a>
          </div>
      </form>
  </div>
</div>
