<div class="contenedor">
    <a routerLink="/metodopago/agregar">
    <button type="button" class="btn btn-primary btn-lg">Agregar</button>
  </a>
    <div class="container-agregar">
    </div>
    <div class="container-table">
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">idMetodoPago</th>
            <th scope="col">Metodo de Pago</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        @for(pago of metodo;track pago.idMetodoPago) {
          <tr>
            <td>{{pago.idMetodoPago}}</td>
            <td>{{pago.Descripcion}}</td>
            <td><button class="btn btn-danger" (click)="baja(pago.idMetodoPago)">Borrar</button></td>
            <td><a routerLink="/metodopago/editar/{{pago.idMetodoPago}}">
              <button (click)="seleccionar(pago.idMetodoPago)" class="btn btn-info" >editar</button>
            </a>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
  