
<div class="container-form">
  <div class="formulario">
      <div class="container-inputs">
          <h3>ACTUALIZAR USUARIO</h3>
              <p>
                  Nombre: <br><input type="text" [(ngModel)]="user.Nombre" class="form-control" aria-label="default input example"/>
              </p>
              <p>
                  Apellido: <br><input type="text" [(ngModel)]="user.Apellido" class="form-control" aria-label="default input example"/>
              </p>
              <p>
                Numero de Documento: <br><input type="number" [(ngModel)]="user.NumeroDocumento" class="form-control" aria-label="default input example"/>
              </p>
              <p>
                Direccion: <br><input type="text" [(ngModel)]="user.Direccion" class="form-control" aria-label="default input example"/>
            </p>
            <p>
              Telefono: <br><input type="number" [(ngModel)]="user.Telefono" class="form-control" aria-label="default input example"/>
            </p>
            <p>
              Correo: <br><input type="text" [(ngModel)]="user.Correo" class="form-control" aria-label="default input example"/>
            </p>
            <p>
              Contrasena: <br><input type="text" [(ngModel)]="user.Contrasena" class="form-control" aria-label="default input example"/>
            </p>
              <p>
                  Tipo de Documento: <br>
                  <select [(ngModel)]="user.TipoDocumento_idTipoDocumento" class="form-select" aria-label="Default select example">
                      <option value="1" >Cedula de Ciudadania</option>
                      <option value="2">Tarjeta De Identidad</option>
                      <option value="3">Pasaporte</option>
                      <option value="4">Cedula de Extranjeria</option>
                      <option value="5">Pasaporte Extranjero</option>
                      <option value="6">Visa</option>
                    </select>
              </p>
              <p>
                Ciudad: <br>
                <select [(ngModel)]="user.Ciudad_idCiudad" class="form-select" aria-label="Default select example">
                    <option value="1">Bogotá</option>
                    <option value="2">Medellín</option>
                    <option value="3">Cali</option>
                    <option value="4">Barranquilla</option>
                    <option value="5">Cartagena</option>
                    <option value="6">Soacha</option>
                    <option value="7">Cúcuta</option>
                    <option value="8">Bucaramanga</option>
                    <option value="9">Valledupar</option>
                    <option value="10">Ibagué</option>
                    <option value="11">Pereira</option>
                    <option value="12">Manizales</option>
                    <option value="13">Neiva</option>
                    <option value="14">Itagüí</option>
                    <option value="15">Riohacha</option>
                    <option value="16">Pasto</option>
                  </select>
            </p>
          <div class="botones">
          <p><button type="button" class="btn btn-success"(click)="modificacion(user.idUsuario)">Modificar</button></p>
          <p><button type="button" class="btn btn-danger" routerLink="/usuario">Cancelar</button></p>
          </div>
      </div>
  </div>
</div>
