<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a routerLink="">
                    <img src="../../../../assets/logo1.png" alt="Logo de E&E art">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <li><a routerLink="">Inicio</a></li>
            <li><a routerLink="catalogo">Catalogo</a></li>
            <li><a routerLink="acerca-de">Servicios</a></li>
            <li><a routerLink="acerca-de"> Acerca de</a></li>
            <li><a routerLink=""> Contacto</a></li>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Descubre la mejor calidad</p>
            <p>Suscribete a nuestras redes sociales</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://www.instagram.com/creacioneseeart/"> <i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/creacioneseeart?mibextid=ZbWKwL"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://wa.me/message/KZX322VI2LJLO1"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://twitter.com/EEArt1"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>Copyright 2024 <b>E&E Art</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>    