
<div class="container-form">
    <div class="formulario">
        <div class="container-inputs">
            <h3>AGREGAR PEDIDO</h3>
                <p>
                    Fecha: <br><input type="date" [(ngModel)]="ped.Fecha" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    Codigo Referencia: <br><input type="text" [(ngModel)]="ped.CodigoReferencia" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    Cantidad: <br><input type="text" [(ngModel)]="ped.Cantidad" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    Total: <br><input type="text" [(ngModel)]="ped.Total" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    Carrito: <br>
                    <select  [(ngModel)]="ped.Carrito_idCarrito" class="form-select" aria-label="Default select example">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                      </select>
                    </p>
                <p>
                    MetodoPago: <br>
                    <select  [(ngModel)]="ped.MetodoPago_idMetodoPago" class="form-select" aria-label="Default select example">
                        <option value="1">Transferencia Bancaria</option>
                        <option value="2">Tarjeta De Credito</option>
                        <option value="3">Tarjeta De Debito</option>
                        <option value="4">Paypal</option>
                        <option value="5">Nequi</option>
                        <option value="6">Daviplata</option>
                      </select>
                </p>
            <div class="botones">
            <p><button type="button" class="btn btn-success"(click)="alta()">Modificar</button></p>
            <p><button type="button" class="btn btn-danger" routerLink="/pedido">Cancelar</button></p>
            </div>    
        </div>
    </div>
</div>