<div class="contenedor">
    <a routerLink="/carrito/agregar">
    <button type="button" class="btn btn-primary btn-lg">NUEVO CARRITO</button>
  </a>
  <a routerLink="/itemscarrito">
    <button type="button" class="btn btn-primary btn-lg">CONTENIDO CARRITO</button>
  </a>
  
    <div class="container-agregar">
    </div>
    <div class="container-table">
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">idCarrito</th>
            <th scope="col">Usuario</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
                @for(car of carrito; track $index){
                <tr>
                    <td>{{car.idCarrito}}</td>
                  <td scope="row">{{car.Nombre}}</td>
            <td><button class="btn btn-danger" (click)="baja(car.idCarrito)">Borrar</button></td>
            <td><a routerLink="/carrito/editar/{{car.idCarrito}}">
              <button (click)="seleccionar(car.idCarrito)" class="btn btn-info" >editar</button>
            </a>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
  
  
  
  