
<div class="container-form">
    <div class="formulario">
        <div class="container-inputs">
            <h3>AGREGAR PRODUCTO</h3>
                <p>
                    Nombre: <br><input type="text" [(ngModel)]="product.Nombre" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    Descripcion Producto: <br><input type="text" [(ngModel)]="product.DescripcionProducto" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    precio: <br><input type="text" [(ngModel)]="product.Precio" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    stock: <br><input type="text" [(ngModel)]="product.Stock" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    url Foto: <br><input type="file" [(ngModel)]="product.Url_foto" class="form-control" aria-label="default input example"/>
                </p>
                <p>
                    Categoria: <br>
                    <select name="" id="" [(ngModel)]="producto.Categoria_idCategoria"  [ngModelOptions]="{standalone: true}">
                        @for(categoria of categoria; track $index){
                        <option value="{{categoria.idCategoria}}">{{categoria.Descripcion}}</option>
                        }
                      </select>
                </p>
            <div class="botones">
            <p><button type="button" class="btn btn-success"(click)="alta()">Agregar</button></p>
            <p><button type="button" class="btn btn-danger" routerLink="/producto">Cancelar</button></p>
            </div>    
        </div>
    </div>
</div>