<div class="container-form">
    <div class="formulario">
        <div class="container-inputs">
            <h3>EDITAR CIUDAD</h3>
                <p>
                    Ciudad: <br><input type="text" [(ngModel)]="city.Descripcion" class="form-control" aria-label="default input example"/>
                </p>
                <p>
            <div class="botones">
            <p><button type="button" class="btn btn-success"(click)="modificacion(city.idCiudad)">Editar</button></p>
            <p><button type="button" class="btn btn-danger" routerLink="/ciudad">Cancelar</button></p>
            </div>    
        </div>
    </div>
</div>