<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <ul class="menu">
        <div class="logo">
            <a class="navbar-brand" routerLink=""><img src="../../../../assets/logo2.png" alt="Logo E&E art"></a>
        </div>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/catalogo">Productos</a></li>
            <ul class = "submenu">
                <li><a routerLink="#">Jabones</a></li>
                <li><a routerLink="#">Antibacterial</a></li>
                <li><a routerLink="#">Velas</a></li>
                <li><a routerLink="#">Cremas</a></li>
                <li><a routerLink="#">Belleza</a></li>
            </ul>
        <li><a routerLink="/acerca-de">Acerca de</a></li>
        <li><a routerLink="/login">Carrito</a></li>
        <li><a routerLink="/login">Iniciar Sesion</a></li>
        <li><a routerLink="/registro">Registrarse</a></li>
        <li><a routerLink="/cuenta">Cuenta</a></li>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" style="background-color: #07570eb0; color: #fff; :hover { background-color: #FFF; color: #07570eb0;}">Search</button>
          </form>
    </ul>
    </div>
</nav>
