<div class="contenedor">
    <div class="imagen-fondo">
      <img src="https://i.ibb.co/VSwxsFB/Whats-App-Image-2024-04-04-at-11-57-14-AM.jpg" alt="Imagen de fondo">
    </div>
    <div class="texto">
      <h1>Sobre nosotros</h1>
      <p>Somos una empresa de cosmetica natural que vende produtos de belleza y la piel, ademas que estamos interesados en otras ramas como las manualidades</p>
      <p>buscamos enorgullecer los productos artesanales hasta los mas alto</p>
    </div>
</div>
<app-footer></app-footer>