<div class="contenedor">
    <a routerLink="/ciudad/agregar">
    <button type="button" class="btn btn-primary btn-lg">Agregar</button>
  </a>
    <div class="container-agregar">
    </div>
    <div class="container-table">
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">idCiudad</th>
            <th scope="col">Ciudad</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        @for(city of ciudad;track city.idCiudad) {
          <tr>
            <td>{{city.idCiudad}}</td>
            <td>{{city.Descripcion}}</td>
            <td><button class="btn btn-danger" (click)="baja(city.idCiudad)">Borrar</button></td>
            <td><a routerLink="/ciudad/editar/{{city.idCiudad}}">
              <button (click)="seleccionar(city.idCiudad)" class="btn btn-info" >editar</button>
            </a>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
  